/**
* General
*/

html,body{
  margin:0;
  padding:0;
  width:100%;
  font-family: Arial, sans-serif;
  color: white;
  background: rgb(32,32,32);
  }

/* General setting for buttons */
button {
    margin: 0 auto;
    display: block;
	margin-top:5%;
    font-family: Tahoma, sans-serif;
	font-size: 40px;
	color: white;
	border-radius: 5%;
	background: rgb(48,48,48);
	border: 1px solid black;
}

/* Setting for tooltips that appear on hover */
.tooltip {
  position: fixed;
  z-index: 100;

  padding: 10px 20px;

  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
/* <--Taken from https://developer.mozilla.org/en-US/docs/Web/CSS/How_to/Layout_cookbook/Sticky_footers 
Footer is not statically at bottom
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.page-footer {
  text-align: center;
  background-color: rgb(48,48,48);
  color: white;
  padding: 20px;
}
.page-body {
  min-height: 100%;
  padding: 20px;
}
*/

/* Taken from https://www.reddit.com/r/Frontend/comments/k1zj0z/how_to_make_footer_stay_at_bottom_of_page_without/ */
.wrapper {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}

.page-footer {
  text-align: center;
  background-color: rgb(48,48,48);
  color: white;
  padding: 20px;
  margin-top: auto;
}

.page-body {
  min-height: 100%;
  padding: 20px;
}

/**
* Start frame settings
*/

/* div that contains all element and weapon images for selections */
#Selections {
  display: block;
  margin: auto;
  width: 100%;
  height: 250px;
  font-family: Arial, sans-serif;
  margin-top: 4%;
  margin-bottom: 2%;
}

/* div that contains all element images for selections */
.leftSelection {
  height:100%;
  float: left;
  width: 50%;
}

/* div that contains all weapon images for selections */
.rightSelection {
  height:100%;
  float: left;
  width: 50%;
}
/* Contained in rightSelection or leftSelection */
.selectionImage {
  width: 50px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/**
* Sorting/Main frame settings
*/

/* The div for the Main frame */
#Main {
  display: block;
  margin: auto;
  width: 60%;
  height: 60%;
  font-family: Arial, sans-serif;
  margin-top: 4%;
}

.characterImg {
  display: block;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 65%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* Container for the left character option*/
.left {
  height:100%;
  /* border:1px solid black; */
  float: left;
  width: 40%;
  background: rgb(40,40,40);
}
/* Container for the right character option*/
.right {
  height:100%;
  /* border:1px solid black; */
  float: left;
  width: 40%;
  background: rgb(40,40,40);
}
/* Container for the character name, contained in a .right or .left */
.label{
	text-align: center;
	padding-bottom: 5%;
}

/* Container for Tie and Undo button and round information */
.middle {
  height:100%;
  float: left;
  width: 18%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.selected{
	background-color: lightblue;
}


.unselectable{
	background: rgb(24,24,24);
	color: gray;
}

/**
* Result frame settings
*/

/* Since html2canvas does not support the object-fit option, and hsr images are not square, we need another option to not distort the image */
.characterImgTable {
  display: block;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 65%;
}

table {
  margin: auto;
  width: 30%;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

table, thead {
  border: 1px solid black;
  border-collapse: collapse;
  background: rgb(32,32,32);
}

th {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

td {
  min-width:100px;
  min-height:30px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

/* Different row colours */
tr:nth-child(even) {
	background: rgb(48,48,48);
}

.tableButton {
    position:fixed;
    right:0;
    top:0;
	margin-right:50px;
}

#imageNumberSelector {
	padding-top:5%;
	padding-left:10px;
    position:fixed;
    left:0;
    top:0;
	margin: 0 auto;
	display: block;
}